Language: Cpp
Standard: c++20
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackLongBracedList: false
BinPackParameters: OnePerLine
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
BreakBeforeBraces: Attach
InsertBraces: true
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
IndentCaseLabels: false
NamespaceIndentation: All
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
FixNamespaceComments: false
ShortNamespaceLines: 0
