build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
Makefile
.cache/
.ccache/

*.o
*.obj
*.so
*.so.*
*.a
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc

*.pro.user
*.pro.user.*
CMakeLists.txt.user
CMakeLists.txt.user.*

.idea/
.vs/
.vscode/
.clangd/
*.autosave
*.swp
*~
.DS_Store
