@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

QPushButton {
    border:none;
    background:transparent;
    padding:10px;

}

QPushButton:hover {
    background:rgba(0,0,0,.05);
}

#AddressBarContainer {
    background: rgba(0,0,0,.05);

    border-radius:3px;

    font-size:14px;
    color:#666;
    opacity:.5;

}

#AddressBarContainer QLineEdit {
    background: transparent;
    padding:5px;
    border-radius:3px;
    border:none;
    padding-left:0px;
    font-size:14px;
    color:#666;
}

#AddressBarContainer QPushButton {
    opacity:.5;
}

QTabBar {
    background:transparent;
    border:none !important;
    border-bottom:2px solid #eee;

}

QTabBar::tab {
    padding:10px;
    border:none;
    background:transparent;
    padding-left:20px;
    padding-right:10px;
}

QTabBar::tab QPushButton {
    border:initial;
    background:initial;
    padding:initial;

}

QTabBar::tab:selected {
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    background:#fff;
    padding-left:10px;

}

QTabBar::tab:!selected {
    padding-left:10px;
    border-right:1px solid #ddd;
}

QWidget#toolbar {
    background:#fff;
    border-bottom:0px solid rgba(0,0,0,.1);
    border-top:none;
}

#BrowserWindow {
    border: 1px solid #888 !important;

}

QMenu {
    background:#fff;
    border:1px solid #aaa;
    padding:0px;
    margin:0px;
    color:#666;
    width:250px;

}

QMenu::item {
    font-size:15px;
    padding:15px;
    margin-left:15px;
    padding-left:30px;

}

QWebEngineView, #TabView {
    height:900px;
}

QTabBar::tab {
    border: none !important;
    margin:0px;
    padding:10px;
    text-align:left !important;
    font-size:14px;
    font-weight:400;
    color:#666;
    width:200px;
    padding-left:0px;
}

#TabBar::close-button {

    border-image: url(':/resources/icons/ic_clear_black_24px.svg') 0 0 0 0 stretch stretch;
    height: 15px;
    width:15px;
    padding:10px;
    padding-left:-20px;


}

QWidget#TabControls {
    border-bottom:2px solid #eee;
    background:#fff;
    padding-bottom:15px;
}

#popup {
    font-size:14px;

    background:#fff;
    border:1px solid #ddd;



}

QListView::item {
    padding:5px 10px;
    padding-left:30px;
    position:relative;
    background:#fff;
}

QListView::item::selected {
    color:#333;
    border: none;
    background:#eee;
}


#menutest {
z-index:999999999;
border:2px solid #000;
height:300px;
width:200px;
position:absolute !important;
right:0 !important;
top:0;
margin:10px;
}

/* Notifications... */

#NotificationDropdown {
    width:200px;
    height:500px;
    z-index:999999999;
    border:2px solid #aaa;
    height:300px;
    width:200px;
    position:absolute !important;

}
